In [22]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,precision_recall_curve,precision_recall_fscore_support

In [65]:
data = pd.read_csv('Churn_Modelling.csv')

In [66]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [67]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [68]:
# remove unwanted cols
data.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)
data = data.sample(frac=1)

In [69]:
# As data is imbalance - Balancing it
Exit_case = np.sum(data.Exited)
non_exit_indices = []
non_exit_ini = 0

for i in range(len(data)):
    if data['Exited'][i]==0:
        non_exit_indices.append(i)
        non_exit_ini += 1
        if non_exit_ini==Exit_case:
            break

In [70]:
# Merge Exit and non Exit
exit_case_df = data[data['Exited']==1]
non_exit_df = data.iloc[non_exit_indices,:]
data = exit_case_df.append(non_exit_df)

In [71]:
data = pd.get_dummies(data,columns=['Geography','Gender'],drop_first=True)

In [72]:
data.reset_index(drop=True)
data = data.sample(frac=1)

In [75]:
X,y = data.iloc[:,[ 0,  1,  2,  3,  4,  5,  6,  7,  9, 10, 11]],data.Exited

In [76]:
# Train-Test Split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [77]:
# Modelling
clf = XGBClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [83]:
confusion_matrix(y_test,y_pred)

array([[230,  94],
       [ 95, 396]])

In [79]:
recall_score(y_test,y_pred),precision_score(y_test,y_pred),accuracy_score(y_test,y_pred)

(0.8065173116089613, 0.8081632653061225, 0.7680981595092025)

For an ML Accuracy, Recall and Precision should be in same range which is there